In [ ]:
#importing pandas library
import pandas as pd

:

creating pandas data frame

In [ ]:
# importing the boston data house price data
from sklearn.datasets import fetch_california_housing

In [ ]:
load_dataset=  fetch_california_housing()

In [ ]:
type(load_dataset)

sklearn.utils._bunch.Bunch

In [ ]:
print(load_dataset)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [ ]:
#pandas dataframe
data_df=pd.DataFrame(load_dataset.data, columns= load_dataset.feature_names  )

In [ ]:
print(data_df.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25

In [13]:
data_df.shape

(20640, 8)

importing a data from csv file to pandas data frame

In [15]:
# scv to pandas data frame
diabetes_df= pd.read_csv('/content/diabetes.csv')

In [16]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [17]:
diabetes_df.head() #print first 5 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
diabetes_df.shape

(768, 9)

In [19]:
#data fram to csv file
data_df.to_csv('california.csv')

exporting pandas data frame to a excel file

In [21]:
data_df.to_excel('california.xlsx', index=False)

In [22]:
import numpy as np

creating data frame with random values

In [23]:
random_df= pd.DataFrame(np.random.rand(20,10)) # between 0 and 1

In [24]:
print(random_df)

           0         1         2         3         4         5         6  \
0   0.640871  0.574765  0.238305  0.769163  0.517165  0.098666  0.698283
1   0.640158  0.518645  0.134600  0.901523  0.343847  0.103774  0.947454
2   0.206510  0.663026  0.147551  0.267930  0.411413  0.932255  0.041631
3   0.607936  0.353337  0.613808  0.677895  0.793604  0.980590  0.303711
4   0.534133  0.250715  0.144744  0.311026  0.005456  0.919644  0.263934
5   0.857329  0.730833  0.776489  0.342149  0.871416  0.280464  0.458334
6   0.815170  0.860925  0.421594  0.724962  0.490490  0.242185  0.369701
7   0.826309  0.030643  0.585143  0.692754  0.420971  0.683487  0.644185
8   0.201578  0.509792  0.219215  0.312188  0.186003  0.716832  0.025203
9   0.681216  0.676783  0.796282  0.746395  0.246114  0.813917  0.109585
10  0.159863  0.151547  0.781606  0.304934  0.028593  0.386105  0.621359
11  0.955516  0.002918  0.056704  0.094769  0.963194  0.992073  0.600482
12  0.049271  0.286096  0.291393  0.272784  0.004369  0.100041  0.383440
13  0.622672  0.468407  0.550207  0.862417  0.237343  0.323554  0.062418
14  0.131402  0.324874  0.316061  0.333170  0.494653  0.914879  0.008852
15  0.467950  0.683699  0.712259  0.040292  0.634549  0.296329  0.378314
16  0.403502  0.159348  0.217028  0.865485  0.625393  0.437960  0.670232
17  0.526853  0.572963  0.801822  0.149939  0.479510  0.697292  0.015596
18  0.071974  0.628112  0.092970  0.934001  0.459217  0.622515  0.004706
19  0.173272  0.448275  0.549138  0.564622  0.358810  0.490598  0.427081

           7         8         9
0   0.439410  0.357354  0.098804
1   0.894797  0.151300  0.373706
2   0.337756  0.454324  0.106988
3   0.100294  0.916573  0.429352
4   0.838497  0.192538  0.095155
5   0.173226  0.903362  0.016028
6   0.852518  0.330150  0.799221
7   0.189288  0.442141  0.743944
8   0.151401  0.072463  0.778822
9   0.338355  0.176307  0.288787
10  0.659403  0.476020  0.303518
11  0.958112  0.655972  0.895101
12  0.265867  0.437626  0.485270
13  0.655798  0.651661  0.605610
14  0.195722  0.740859  0.010121
15  0.474246  0.596706  0.902400
16  0.637900  0.457311  0.068170
17  0.455074  0.066706  0.996673
18  0.929758  0.304085  0.137687
19  0.920539  0.493755  0.849001

In [25]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.640871,0.574765,0.238305,0.769163,0.517165,0.098666,0.698283,0.439410,0.357354,0.098804
1,0.640158,0.518645,0.134600,0.901523,0.343847,0.103774,0.947454,0.894797,0.151300,0.373706
2,0.206510,0.663026,0.147551,0.267930,0.411413,0.932255,0.041631,0.337756,0.454324,0.106988
3,0.607936,0.353337,0.613808,0.677895,0.793604,0.980590,0.303711,0.100294,0.916573,0.429352
4,0.534133,0.250715,0.144744,0.311026,0.005456,0.919644,0.263934,0.838497,0.192538,0.095155

In [26]:
random_df.shape

(20, 10)

In [27]:
# inspecting certain features of data frame
#finding no of rows and colums(shape method)
# to print first 5 rows: use head()
# last 5 rows of data frame
random_df.tail()

,0,1,2,3,4,5,6,7,8,9
15,0.467950,0.683699,0.712259,0.040292,0.634549,0.296329,0.378314,0.474246,0.596706,0.902400
16,0.403502,0.159348,0.217028,0.865485,0.625393,0.437960,0.670232,0.637900,0.457311,0.068170
17,0.526853,0.572963,0.801822,0.149939,0.479510,0.697292,0.015596,0.455074,0.066706,0.996673
18,0.071974,0.628112,0.092970,0.934001,0.459217,0.622515,0.004706,0.929758,0.304085,0.137687
19,0.173272,0.448275,0.549138,0.564622,0.358810,0.490598,0.427081,0.920539,0.493755,0.849001

In [28]:
#informations about data frame
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB

In [32]:
#finding the number of missing values
random_df.isnull().sum()
#if we find missing values then we need to fill it with another value called data preprocessing

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [33]:
#counting the values based on level
# 0= non-diabetic
#1= diabetic values
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
Name: count, dtype: int64

In [35]:
#grouping data based on their means
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [37]:
#statistical measure
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [40]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.640871,0.574765,0.238305,0.769163,0.517165,0.098666,0.698283,0.439410,0.357354,0.098804
1,0.640158,0.518645,0.134600,0.901523,0.343847,0.103774,0.947454,0.894797,0.151300,0.373706
2,0.206510,0.663026,0.147551,0.267930,0.411413,0.932255,0.041631,0.337756,0.454324,0.106988
3,0.607936,0.353337,0.613808,0.677895,0.793604,0.980590,0.303711,0.100294,0.916573,0.429352
4,0.534133,0.250715,0.144744,0.311026,0.005456,0.919644,0.263934,0.838497,0.192538,0.095155

In [38]:
#removing first row
random_df.drop(index=0)

,0,1,2,3,4,5,6,7,8,9
1,0.640158,0.518645,0.134600,0.901523,0.343847,0.103774,0.947454,0.894797,0.151300,0.373706
2,0.206510,0.663026,0.147551,0.267930,0.411413,0.932255,0.041631,0.337756,0.454324,0.106988
3,0.607936,0.353337,0.613808,0.677895,0.793604,0.980590,0.303711,0.100294,0.916573,0.429352
4,0.534133,0.250715,0.144744,0.311026,0.005456,0.919644,0.263934,0.838497,0.192538,0.095155
5,0.857329,0.730833,0.776489,0.342149,0.871416,0.280464,0.458334,0.173226,0.903362,0.016028
6,0.815170,0.860925,0.421594,0.724962,0.490490,0.242185,0.369701,0.852518,0.330150,0.799221
7,0.826309,0.030643,0.585143,0.692754,0.420971,0.683487,0.644185,0.189288,0.442141,0.743944
8,0.201578,0.509792,0.219215,0.312188,0.186003,0.716832,0.025203,0.151401,0.072463,0.778822
9,0.681216,0.676783,0.796282,0.746395,0.246114,0.813917,0.109585,0.338355,0.176307,0.288787
10,0.159863,0.151547,0.781606,0.304934,0.028593,0.386105,0.621359,0.659403,0.476020,0.303518
11,0.955516,0.002918,0.056704,0.094769,0.963194,0.992073,0.600482,0.958112,0.655972,0.895101
12,0.049271,0.286096,0.291393,0.272784,0.004369,0.100041,0.383440,0.265867,0.437626,0.485270
13,0.622672,0.468407,0.550207,0.862417,0.237343,0.323554,0.062418,0.655798,0.651661,0.605610
14,0.131402,0.324874,0.316061,0.333170,0.494653,0.914879,0.008852,0.195722,0.740859,0.010121
15,0.467950,0.683699,0.712259,0.040292,0.634549,0.296329,0.378314,0.474246,0.596706,0.902400
16,0.403502,0.159348,0.217028,0.865485,0.625393,0.437960,0.670232,0.637900,0.457311,0.068170
17,0.526853,0.572963,0.801822,0.149939,0.479510,0.697292,0.015596,0.455074,0.066706,0.996673
18,0.071974,0.628112,0.092970,0.934001,0.459217,0.622515,0.004706,0.929758,0.304085,0.137687
19,0.173272,0.448275,0.549138,0.564622,0.358810,0.490598,0.427081,0.920539,0.493755,0.849001

In [39]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.640871,0.574765,0.238305,0.769163,0.517165,0.098666,0.698283,0.439410,0.357354,0.098804
1,0.640158,0.518645,0.134600,0.901523,0.343847,0.103774,0.947454,0.894797,0.151300,0.373706
2,0.206510,0.663026,0.147551,0.267930,0.411413,0.932255,0.041631,0.337756,0.454324,0.106988
3,0.607936,0.353337,0.613808,0.677895,0.793604,0.980590,0.303711,0.100294,0.916573,0.429352
4,0.534133,0.250715,0.144744,0.311026,0.005456,0.919644,0.263934,0.838497,0.192538,0.095155